body {
  color: white;
  background-color: #535759;
  font-size: 175%;
  font-weight: 300;
}

ol li {
  list-style: inside;
  list-style-type: decimal;
}

.container {
  background-color: #303233;
  min-height: 100%;
}

.jumbotron {
  text-align: center;
  background: linear-gradient(to bottom right, #4286f4, #5bd9ef);
  color: #000000;
  text-shadow: 0 0 5px #ffffff, 0 0 5px #535759;
}

.nav {
  padding-top: 20px;
}
.panel-body {
  background-color: #303233;
}

.proj-list {
  margin-left: 12px;
  margin-right: 12px;
}
.proj-list p {
  font-weight: 150;
}

#dog {
  float: left;
}

#hiking {
  float: right;
}
