body {
  color: white;
  background-color: #303233;
  font-size: 175%;
}

.jumbotron {
  text-align: center;
  background: linear-gradient(to bottom right, #4286f4, #5bd9ef);
  color: #303233;
}

.nav {
  padding-top: 20px;
}

.intro {

}

.proj-list {

}
